<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  
  <div id="content">
    <h1>It's Mr. Venkat Reddt </h1>
    <p>pop-up tumeric selvage sartorial squid paleo pour-over kickstarter cold-pressed man bun. Tumblr cardigan locavore butcher next level scenester intelligentsia, schlitz pickled fam pinterest dreamcatcher yr. Sartorial forage pop-up vape marfa green juice farm-to-table.</p>
  </div>
  
  
</div>